[submodule "wasi-emscripten-host"]
	path = wasi-emscripten-host
	url = https://github.com/illarionov/wasi-emscripten-host.git
[submodule "vendor/libriscv"]
	path = vendor/libriscv
	url = https://github.com/fwsGonzo/libriscv.git
