name: Coverage
on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  coverage:
    uses: maceip/.github/.github/workflows/code-coverage.yml@main
    with:
      java-version: '21'
      ndk-version: '27.2.12479018'
      submodules: true
      app-module: 'app'
      working-directory: 'android-app-wamr'
